$fontcolorsm: #fff;
$fontcolor: #424242;
$fontcolorlinks: #626262;
$fontsizsm: 17px;
$fontfamliy:  sans-serif;
$fontfamliy2:  'El Messiri', sans-serif;
$fontfamliy3:  'Almarai', sans-serif;
$background: #0d47a1;
$simplebackground: #f7f7f7;
$background1: #bbdefb;
// $background1: #0d48a144;
$btnbackground: #4280FF;
;
// $btnbackground: #f44336;
$btnbackground1: #f443367d;
$btnbackground2: #f44336;
$SpicalCarColor:#ffc107;
$SpicalCarColor2:#2e2e2e;
$linear-gradient:  linear-gradient(90deg, #0a57ba 0%, #0881fa 100%);
$linear-gradient2:   linear-gradient(90deg,#0a57ba 0%, #0a57ba 50%,  #0881fa 50%,#0881fa 100%);
$padding: 25px 0 ;

$color-background: #f8f9fa;
$color-1: #039BE5;
$color-2: #fc624d;
$color-3: #d3d3d3;
$color-4: #e1f5fe;
$color-5: #4243425c;
$color-6: #f44336;
$Discount:#17d01d;
$color-icon-GoToUp-Openmenu: #092982;
$AboutSellingCarPayAdd:#c06c84;
$AboutStore:#6c5b7b;
$AboutShowroom:#35477d;
// Home products review 
// main box 
$backgroundcard: #f9f9f9;
$marginmainboxproduct: 20px 0;
$boxshadowcardmain: 0px 0px 0px 0px;
// card 

// card btn
$btnboxshadow: 0px 1px 5px 0px rgba(61, 61, 61, 0.564);


// price
$pricebackground: #ffffffde;
$pricefontsiz: 15px;
$pricepadding: 0 10px;


$carousel-controls-size: 10px;

// y 
// #FFB300
//b
//#42A5F5
//p
//#EC407A